<!doctype html>
<html ng-app="C3PO">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C3PO</title>
    <script src="//use.typekit.net/ola6uac.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!-- DONT REMOVE - CSS is automatically added by running grunt -->
    <!-- injector:css -->
    <!-- endinjector -->
  </head>
  <body ng-controller="ApplicationController as appCtrl">
    <nav class="main">
      <div class="row">
        <div class="small-6 columns" ng-repeat="navItem in appCtrl.navItems">
          <a ng-href="{{navItem.path}}" ng-class="{active: appCtrl.activeNavLink == navItem, '{{navItem.class}}':true}" target="{{appCtrl.target(navItem)}}">
            <i class="fa fa-{{navItem.faIcon}}"></i>
            <span ng-bind="navItem.name"></span>
          </a>
        </div>
      </div>
    </nav>

    <section class="main">
      <div class="row code" ng-controller="CodeController as codeCtrl">
        <div class="medium-6 columns" >
          <h1>Welcome to PrototypeOf</h1>

          <p>
            You visit and interact with sites all over the net. Most of which track your every move. I decided to condense my web presence into this site. Be sure to check out the other sections of prototypeOf to see just how much of a nerd I am :).
          </p>
          <p>What it took to make this site:</p>

          <section class="commits">
            <h2>
              <span>Commits</span>
            </h2>

            <article ng-bind="codeCtrl.data.totalCommits"></article>
          </section>
        </div>

        <div class="medium-6 columns">
          <div class="commit-details">
            <span class="commit-date">{{codeCtrl.activeCommit.date.year}}/{{codeCtrl.activeCommit.date.month}} {{codeCtrl.activeCommit.date.day}}:</span>
            <span class="commit-description" ng-bind="codeCtrl.activeCommit.message"></span>
          </div>

          <div class="commit-history" id="commit-history">
            <ul>
              <li ng-repeat="(year, months) in codeCtrl.data.siteCommits">
                <h3>
                  <span ng-bind="year"></span>
                </h3>

                <div ng-repeat="(month, commits) in months">
                  <h4>
                    <span ng-bind="month"></span>
                  </h4>

                  <ul>
                    <li ng-click="codeCtrl.activateCommit($event, commit)" ng-class="{'active':codeCtrl.activeCommit == commit}" ng-repeat="commit in commits">
                      <i class="fa fa-chevron-left"></i>
                      <dl>
                        <dt>date</dt>
                        <dd ng-bind="commit.date.day"></dd>
                        <dt>additions</dt>
                        <dd>+{{commit.additions}}</dd>
                        <dt>deletions</dt>
                        <dd>-{{commit.deletions}}</dd>
                      </dl>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- DONT REMOVE - JS is automatically added by running grunt -->
    <!-- injector:js -->
    <!-- endinjector -->
  </body>
</html>
